/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  margin-top: -78px;
  padding: 204px 0 325px;

  .row{
    max-width: 1564px;
    text-align: left;
  }
  .inb{
    display: inline-block;
    vertical-align: top;
  }
  .banLogo{
      text-align: center;
      max-width: 372px;
      border: 1px solid #FFF;
      background: linear-gradient(to left,#2C2723, #130E0B);
      padding: 33px 0;
  }
  .banText{
    margin-left: 68px;
    max-width: 570px;
    h1{
      font-family: "Playfair Display";
      font-weight: 400;
      font-size: 67px;
      color: #FFFFFF;
      text-shadow: 0 0 40px #000,0 0 40px #000,0 0 40px #000;
      line-height: 130%;
      span{
        display: block;
        font-size: 100px;
        color: #BFA463;
      }
    }
    p{
      font-family: Arial;
      font-weight: 400;
      font-size: 25px;
      color: #FFFFFF;
      text-align: center;
      text-shadow: 0 0 20px #000,0 0 20px #000,0 0 20px #000;
      line-height: 160%;
      span{
        display: block;
      }
    }
  }
}
