/*-----------------------------------footer-----------------------------------*/
#footer {
  overflow-x: hidden;
  .footTop{
    position: relative;
    background: url(../images/common/bgMap.jpg)no-repeat center top;
    background-size: cover;
    padding: 88px 0 89px;
    .row{
      max-width: 1366px;
    }
    .ftLogo{
      position: absolute;
      max-width: 328px;
      width: 100%;
      top: 50%;
      left: 49%;
      transform: translate(-61%,-50%);
    }
    .footRight{
      &.col-4{
        max-width: 480px;
        width: 100%;
      }
      text-align: left;
      h2{
        position: relative;
        line-height: 110%;
        margin-bottom: 50px;
        color: #FFF;
        &::after{
          content: '';
          width: 221px;
          height: 10px;
          background: #C0A463;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -277px;
        }
      }
      .info{
        h5{
          font-family: "Playfair Display";
          font-weight: 400;
          font-size: 18px;
          color: #C0A463;
          line-height: 25px;
        }
        p{
          font-family: "Playfair Display";;
          font-weight: 400;
          font-size: 22px;
          color: #FFFFFF;
          line-height: 29px;
          margin: 0 auto 36px;
          .ftPhone{
            font-family: "Trajan Pro";
            font-weight: 400;
            font-size: 37px;
            color: #FFFFFF;
            line-height: 47px;
          }
          &.italic{
            font-size: 16px;
            font-style: italic;
          }
        }
      }
      .social{
        p{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: space-between;
          height: 393px;
          a{
            &.socialico{
              font-family: "socialico";
              font-size: 50px;
              color: #FFFFFF;
            }
            &:hover{
              color: #C0A463;
            }
          }
        }
      }
    }
  }
  .footBot{
    background: #C0A463;
    padding: 20px;
    .ftBotLeft{
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        li{
          font-family: "Playfair Display";
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
        }
      }
    }
    .ftBotRight{
      .copy,.silver{
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        margin: 0 auto;
      }
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
