/*header*/

#header {
  position: relative;
  background: rgba(20,5,34,0.8);
  padding: 27px 0;
  z-index: 9;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          font-family: "Playfair Display";
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
          margin: 0 43px;
        }
        &.active-menu a, a:hover {
          color: #BFA463;
        }
      }
    }
  }
}
