/*------------------------------welcome------------------------------*/
#welcome{
  .row{
    max-width: 1366px;
    padding: 1px 0 100px;
  }
  .container{
    background: #FFF;
    margin-top: -100px;
    .wlcLeft{
      text-align: center;
      padding: 75px 0;
      .textBox{
        max-width: 492px;
        text-align: left;
        margin: 0 auto;
        p{
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 15px;
          color: #525252;
          line-height: 180%;
          margin: 30px auto;
        }
      }
    }
    .wlcRight{
      background: #C0A463;
      padding: 40px 0;
      img{
        max-width: 603px;
        width: 89%;
      }
    }
  }
}
