/*--------------------------------------Section 4--------------------------------------*/
#section4{
  background: #130521;
  padding: 80px 0;
  .row{
    max-width: 1366px;
  }
  .s4Left{
    border-right: 1px solid rgba(192,164,99,0.5);
    min-height: 174px;
    text-align: left;
    h2{
      color: #FFF;
      line-height: 110%;
    }
  }
  .col-4{
    width: (33.33%+0.86);
  }
  .col-8{
    width: (66.66%-1);
  }
  .s4Right{

    .textBox{
      max-width: 801px;
      margin: 0 0 0 auto;
      text-align: left;
      p{
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 17px;
        color: #FFF;
        letter-spacing: 0.5px;
        line-height: 180%;
        margin: 0 0 30px;
      }
    }
  }
}
