/*------------------------------------Contact Form-------------------------------------*/
#contact{
  padding: 100px 0;
  .row{
    max-width: 1366px;
    form{
      .cntLeft{
        text-align: left;
        p{
          font-family: "Open Sans";
          font-weight: 400;
          font-size: 15px;
          color: #545454;
          line-height: 180%;
        }
        .btn{
          margin: 20px auto 20px 0;
        }
      }
      .cntRight{
        .cntTopRight{
          input[type="text"]{
            display: inline-block;
            vertical-align: top;
            width: 49%;
            height: 50px;
            border-radius: 0;
            border: 1px solid #A5A5A5;
          }
        }
        .cntMidRight{
          input[type="text"]{
            display: inline-block;
            vertical-align: top;
            width: 49%;
            height: 50px;
            border-radius: 0;
            border: 1px solid #A5A5A5;
          }
        }
        textarea{
          width: 98.6%;
          height: 302px;
          border-radius: 0;
          border: 1px solid #A5A5A5;
        }
      }
    }
  }
}
