/*--------------------------------------Get to know--------------------------------------*/
#weBuy{
  position: relative;
  padding: 211px 0 118px;
  overflow-x: hidden;
  margin-top: -90px;
  z-index: 9;
  .row{
    max-width: 1366px;
    border: 1px solid rgba(19,5,33,0.2);
  }
  .wbLeft{
    padding: 95px 0;
    .textBox{
      max-width: 596px;
      width: 88%;
      margin: 0 0 0 auto;
      text-align: left;
      h2{
        position: relative;
        &::before{
          content: '';
          width: 317px;
          height: 10px;
          background: #C0A463;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -360px;
        }
      }
      p{
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #545454;
        line-height: 180%;
        margin: 30px auto;
        &.call{
          display: inline-block;
          vertical-align: bottom;
          margin: 0 auto 0 7%;
          font-family: "Playfair Display";
          font-weight: 400;
          font-size: 18px;
          color: #130521;
          .wbPhone{
            display: block;
            font-family: "Trajan Pro";
            font-weight: 700;
            font-size: 37px;
            color: #130521;
          }
        }
      }
    }
  }
  .wbRight{
    padding: 1px 0 0;
    img.ring{
      margin: -211px -120px 0 0;
    }
  }
}
