/*------------------------------------Collection-------------------------------------*/
#collection{
  background: url(../images/common/bgCollection.jpg)no-repeat center top;
  background-size: cover;
  padding: 84px 0 98px;
  .row{
    max-width: 1366px;
  }
  .header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2{
      color: #FFF;
    }
  }
  .container{
    margin: 20px auto 0;
    .colTop{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      img{
        margin: 10px auto;
        max-width: 442px;
        width: 33%;
        height: 100%;
      }
    }
    .colBot{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      img{
        margin: 10px auto;
        max-width: 442px;
        width: 33%;
        height: 100%;
      }
    }
  }
}
