/*--------------------------------------Get to know--------------------------------------*/
#gettoknow{
  overflow: hidden;
  .row{
    max-width: 1366px;
  }
  .gtkLeft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div{
      position: relative;
      max-width: 342px;
      width: 50%;
      margin-bottom: -5px;
      img{
        max-width: 342px;
        width: 100%;
      }
      p{
        position: absolute;
        bottom:22px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        font-family: "Playfair Display";
        font-weight: 700;
        font-size: 23px;
        color: #FFF;
      }
    }
  }
  .gtkRight{
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 400;
    padding: 60px 0;
    text-align: left;
    color: #130521;
    .textBox{
      max-width: 506px;
      margin: 0 auto;
      h2{
        position: relative;
        line-height: 110%;
        span{
          display: block;
        }
        &::after{
          content: '';
          width: 317px;
          height: 10px;
          background: #C0A463;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -400px;
        }
      }
      p{
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 15px;
        color: #545454;
        line-height: 180%;
        margin: 30px auto;
      }
    }
  }
}
