@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("fonts/PlayfairDisplay-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Copperplate Gothic'; src: url("fonts/CopperplateGothic-Bold.woff2") format("woff2"), url("fonts/CopperplateGothic-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Balmoral ICG'; src: url("fonts/BalmoralICG.woff2") format("woff2"), url("fonts/BalmoralICG.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("fonts/PlayfairDisplay-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Playfair Display'; src: url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("fonts/PlayfairDisplay-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Trajan Pro'; src: url("fonts/TrajanPro-Bold.woff2") format("woff2"), url("fonts/TrajanPro-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1440px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Playfair Display"; font-size: 18px; font-weight: 400; color: #FFF; display: inline-block; max-width: 198px; width: 100%; padding: 17px 0; background: #C0A463; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

.btn2 { text-align: center; font-family: "Playfair Display"; font-size: 18px; font-weight: 400; color: #FFF; display: inline-block; max-width: 198px; width: 100%; padding: 17px 0; background: #130521; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn2:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 100px; font-weight: 100; color: #000; }

h2 { font-family: "Playfair Display"; font-size: 60px; font-weight: 400; color: #140522; }

/*header*/
#header { position: relative; background: rgba(20, 5, 34, 0.8); padding: 27px 0; z-index: 9; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { font-family: "Playfair Display"; font-weight: 400; font-size: 18px; color: #FFFFFF; margin: 0 43px; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #BFA463; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; margin-top: -78px; padding: 204px 0 325px; }

#banner .row { max-width: 1564px; text-align: left; }

#banner .inb { display: inline-block; vertical-align: top; }

#banner .banLogo { text-align: center; max-width: 372px; border: 1px solid #FFF; background: -webkit-gradient(linear, right top, left top, from(#2C2723), to(#130E0B)); background: -webkit-linear-gradient(right, #2C2723, #130E0B); background: -o-linear-gradient(right, #2C2723, #130E0B); background: linear-gradient(to left, #2C2723, #130E0B); padding: 33px 0; }

#banner .banText { margin-left: 68px; max-width: 570px; }

#banner .banText h1 { font-family: "Playfair Display"; font-weight: 400; font-size: 67px; color: #FFFFFF; text-shadow: 0 0 40px #000,0 0 40px #000,0 0 40px #000; line-height: 130%; }

#banner .banText h1 span { display: block; font-size: 100px; color: #BFA463; }

#banner .banText p { font-family: Arial; font-weight: 400; font-size: 25px; color: #FFFFFF; text-align: center; text-shadow: 0 0 20px #000,0 0 20px #000,0 0 20px #000; line-height: 160%; }

#banner .banText p span { display: block; }

/*------------------------------welcome------------------------------*/
#welcome .row { max-width: 1366px; padding: 1px 0 100px; }

#welcome .container { background: #FFF; margin-top: -100px; }

#welcome .container .wlcLeft { text-align: center; padding: 75px 0; }

#welcome .container .wlcLeft .textBox { max-width: 492px; text-align: left; margin: 0 auto; }

#welcome .container .wlcLeft .textBox p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #525252; line-height: 180%; margin: 30px auto; }

#welcome .container .wlcRight { background: #C0A463; padding: 40px 0; }

#welcome .container .wlcRight img { max-width: 603px; width: 89%; }

/*--------------------------------------Get to know--------------------------------------*/
#gettoknow { overflow: hidden; }

#gettoknow .row { max-width: 1366px; }

#gettoknow .gtkLeft { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#gettoknow .gtkLeft div { position: relative; max-width: 342px; width: 50%; margin-bottom: -5px; }

#gettoknow .gtkLeft div img { max-width: 342px; width: 100%; }

#gettoknow .gtkLeft div p { position: absolute; bottom: 22px; left: 50%; width: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); font-family: "Playfair Display"; font-weight: 700; font-size: 23px; color: #FFF; }

#gettoknow .gtkRight { font-family: "Playfair Display"; font-size: 60px; font-weight: 400; padding: 60px 0; text-align: left; color: #130521; }

#gettoknow .gtkRight .textBox { max-width: 506px; margin: 0 auto; }

#gettoknow .gtkRight .textBox h2 { position: relative; line-height: 110%; }

#gettoknow .gtkRight .textBox h2 span { display: block; }

#gettoknow .gtkRight .textBox h2::after { content: ''; width: 317px; height: 10px; background: #C0A463; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: -400px; }

#gettoknow .gtkRight .textBox p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #545454; line-height: 180%; margin: 30px auto; }

/*--------------------------------------Get to know--------------------------------------*/
#weBuy { position: relative; padding: 211px 0 118px; overflow-x: hidden; margin-top: -90px; z-index: 9; }

#weBuy .row { max-width: 1366px; border: 1px solid rgba(19, 5, 33, 0.2); }

#weBuy .wbLeft { padding: 95px 0; }

#weBuy .wbLeft .textBox { max-width: 596px; width: 88%; margin: 0 0 0 auto; text-align: left; }

#weBuy .wbLeft .textBox h2 { position: relative; }

#weBuy .wbLeft .textBox h2::before { content: ''; width: 317px; height: 10px; background: #C0A463; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: -360px; }

#weBuy .wbLeft .textBox p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #545454; line-height: 180%; margin: 30px auto; }

#weBuy .wbLeft .textBox p.call { display: inline-block; vertical-align: bottom; margin: 0 auto 0 7%; font-family: "Playfair Display"; font-weight: 400; font-size: 18px; color: #130521; }

#weBuy .wbLeft .textBox p.call .wbPhone { display: block; font-family: "Trajan Pro"; font-weight: 700; font-size: 37px; color: #130521; }

#weBuy .wbRight { padding: 1px 0 0; }

#weBuy .wbRight img.ring { margin: -211px -120px 0 0; }

/*--------------------------------------Section 4--------------------------------------*/
#section4 { background: #130521; padding: 80px 0; }

#section4 .row { max-width: 1366px; }

#section4 .s4Left { border-right: 1px solid rgba(192, 164, 99, 0.5); min-height: 174px; text-align: left; }

#section4 .s4Left h2 { color: #FFF; line-height: 110%; }

#section4 .col-4 { width: 34.19%; }

#section4 .col-8 { width: 65.66%; }

#section4 .s4Right .textBox { max-width: 801px; margin: 0 0 0 auto; text-align: left; }

#section4 .s4Right .textBox p { font-family: "Open Sans"; font-weight: 400; font-size: 17px; color: #FFF; letter-spacing: 0.5px; line-height: 180%; margin: 0 0 30px; }

/*------------------------------------Collection-------------------------------------*/
#collection { background: url(../images/common/bgCollection.jpg) no-repeat center top; background-size: cover; padding: 84px 0 98px; }

#collection .row { max-width: 1366px; }

#collection .header { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#collection .header h2 { color: #FFF; }

#collection .container { margin: 20px auto 0; }

#collection .container .colTop { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#collection .container .colTop img { margin: 10px auto; max-width: 442px; width: 33%; height: 100%; }

#collection .container .colBot { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#collection .container .colBot img { margin: 10px auto; max-width: 442px; width: 33%; height: 100%; }

/*------------------------------------Contact Form-------------------------------------*/
#contact { padding: 100px 0; }

#contact .row { max-width: 1366px; }

#contact .row form .cntLeft { text-align: left; }

#contact .row form .cntLeft p { font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #545454; line-height: 180%; }

#contact .row form .cntLeft .btn { margin: 20px auto 20px 0; }

#contact .row form .cntRight .cntTopRight input[type="text"] { display: inline-block; vertical-align: top; width: 49%; height: 50px; border-radius: 0; border: 1px solid #A5A5A5; }

#contact .row form .cntRight .cntMidRight input[type="text"] { display: inline-block; vertical-align: top; width: 49%; height: 50px; border-radius: 0; border: 1px solid #A5A5A5; }

#contact .row form .cntRight textarea { width: 98.6%; height: 302px; border-radius: 0; border: 1px solid #A5A5A5; }

/*-----------------------------------footer-----------------------------------*/
#footer { overflow-x: hidden; }

#footer .footTop { position: relative; background: url(../images/common/bgMap.jpg) no-repeat center top; background-size: cover; padding: 88px 0 89px; }

#footer .footTop .row { max-width: 1366px; }

#footer .footTop .ftLogo { position: absolute; max-width: 328px; width: 100%; top: 50%; left: 49%; -webkit-transform: translate(-61%, -50%); -ms-transform: translate(-61%, -50%); transform: translate(-61%, -50%); }

#footer .footTop .footRight { text-align: left; }

#footer .footTop .footRight.col-4 { max-width: 480px; width: 100%; }

#footer .footTop .footRight h2 { position: relative; line-height: 110%; margin-bottom: 50px; color: #FFF; }

#footer .footTop .footRight h2::after { content: ''; width: 221px; height: 10px; background: #C0A463; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: -277px; }

#footer .footTop .footRight .info h5 { font-family: "Playfair Display"; font-weight: 400; font-size: 18px; color: #C0A463; line-height: 25px; }

#footer .footTop .footRight .info p { font-family: "Playfair Display"; font-weight: 400; font-size: 22px; color: #FFFFFF; line-height: 29px; margin: 0 auto 36px; }

#footer .footTop .footRight .info p .ftPhone { font-family: "Trajan Pro"; font-weight: 400; font-size: 37px; color: #FFFFFF; line-height: 47px; }

#footer .footTop .footRight .info p.italic { font-size: 16px; font-style: italic; }

#footer .footTop .footRight .social p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: justify; align-content: space-between; height: 393px; }

#footer .footTop .footRight .social p a.socialico { font-family: "socialico"; font-size: 50px; color: #FFFFFF; }

#footer .footTop .footRight .social p a:hover { color: #C0A463; }

#footer .footBot { background: #C0A463; padding: 20px; }

#footer .footBot .ftBotLeft ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; list-style-type: none; }

#footer .footBot .ftBotLeft ul li { font-family: "Playfair Display"; font-weight: 400; font-size: 18px; color: #FFFFFF; }

#footer .footBot .ftBotRight .copy, #footer .footBot .ftBotRight .silver { font-family: "Playfair Display"; font-weight: 400; font-size: 18px; color: #FFFFFF; margin: 0 auto; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { .row { width: 95% !important; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
